<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />


</head>
<body>

<div class="container">

<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>Memos</h1>
  <div class="col-md-10">
    <div align="right">
<input type="button" class="submit"  value="Create New Memo" />

      <input type=date name="date" id="date" value="2017-12-12" />

<td><input id="memo" type="text"
        placeholder="Type new memo here"
	style="font-size:12pt;height:120px;width:200px;" /> </td>
      </div>


{% if session.memos %}
    {% for memo in session.memos %}
  <div class="boxed">
  {%set id = memo._id%}
  <div class="memo">
  <div class="row">
  <div class="col-md-2">
    {{ memo.date | humanize }}
  </div>
  <div class="col-md-10">
    {{ memo.text }}
  </div>
    <div align="right">
        <input type="button" class="remove"  value="Delete" id= {{id}} />
      </div>
  </div> <!-- row -->
  </div> <!-- memo -->
  </div> <!-- boxed -->
  {% endfor %}
{% else %}
  <p>No memos for you. </p>  
{% endif %}

<script type="text/javascript">

$(".submit").on("click", function(event){
    var date = $("#date").val();
    var memo = $("#memo").val();
$.getJSON("/create", {date:date, memo:memo});
});


$(".remove").on("click", function(event){
    var memo = this.id;
    console.log("Memo to delete:"+ memo);
    $.getJSON("/remove", {memo:memo})
});

</script>

</body>
</html>
